#!/bin/bash

# llvm-meta-meetup library
# Copyright (c) 2023 llvm-meta-meetup authors
# Distributed under the BSD 3-Clause License license.
# (See accompanying file LICENSE)
# SPDX-License-Identifier: BSD-3-Clause

readonly target=$1
readonly extension="${target##*.}"

if [ $extension == "c" ]; then
  readonly compiler="@META_CLANG_EXEC@"
else
  readonly compiler="@META_CLANGCXX_EXEC@"
fi

readonly opt_tool="@META_OPT_EXEC@ @META_OPT_ARGS@"

readonly metapass_bin_dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
readonly metapass_lib_dir="$(dirname "${metapass_bin_dir}")"/@CMAKE_INSTALL_LIBDIR@
readonly meta_pass_plugin="${metapass_lib_dir}/$<TARGET_FILE_NAME:meta::AnalysisPass> -meta"

# shellcheck disable=SC2068
$compiler -S -O1 -g -emit-llvm -Xclang -disable-llvm-passes -fno-discard-value-names "$target" -o - | \
  $opt_tool -load $meta_pass_plugin 2>&1 ${@:2}